<h1>Post test</h1>

<div class="addPost" (click)="showAddPost=!showAddPost">
  Click to add new post
</div>

<div  class="filter-by-user">
  <span>Filter posts by user id (0 means all)</span>
  <select [(ngModel)]="filterByUserId">
    <option *ngFor="let c of usersIdArray" [ngValue]="c">{{c}}</option>
  </select>
</div>


<div class="post-container">

  <div class="add-new-post" *ngIf="showAddPost">
    <div><span>Add new post</span>
      <i class="fa fa-plus fa-2x" aria-hidden="true" (click)="addPost()"></i>
    </div>
    <input [(ngModel)]="newPost.title" placeholder="Title"/>
    <textarea [(ngModel)]="newPost.body" class="post-edit"></textarea>
  </div>

  <ul #postContainer (scroll)="checkIfScrolledToBottom()" class="post-items" *ngIf="posts && posts.length">
    <li class="post-item"
        *ngFor="let post of posts | filter: filterByUserId | slice:0:limitPost; trackBy: trackByFn; let index = index;">
      <div class="post-title">{{post.title | capitalize}}</div>
      <div class="post-body">{{post.body | capitalize}}</div>
      <textarea *ngIf="post.showEditField" [(ngModel)]="post.body" class="post-edit"></textarea>
      <div class="post-action">
        <span (click)="savePost(post)">Save</span>
        <span (click)="post.showEditField=!post.showEditField">Edit</span>
        <span (click)="deletePost(post.id)">Delete</span>
      </div>
    </li>
  </ul>

</div>

